<form action="">
   <h3>{{data}}</h3>
   <div class="container">
      <h2>bank login</h2>
      <label for="us" class="lb">Username</label><br>
      <input [(ngModel)] = "uname" type="text" id="us" name = "uname1" class="inp" [placeholder]="placeHolderData"><br>
      <!-- <label for="us" class="lb">username</label><br>
      <input type="text" id="us" class="inp"><br> -->
      <label for="ps" class="lb">password</label><br>
      <input [(ngModel)] = "psw" type="password" id="ps" name = "psw1" class="inp" [placeholder]="passwordData">
      <button (click)="login()" type="button" id="btn" class="button1">sign in</button>
      <p>don't have account? <a routerLink="register" [title]="clickData"><strong>create account</strong></a></p>
   </div>
</form>

