<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <h1>Welcome</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, odit excepturi. Repellendus reiciendis fugit accusamus odio id incidunt iste dolores commodi quae, inventore accusantium ad velit, maiores laboriosam obcaecati. Eos.</p>
<div class="container"><button type="text"> Read More</button></div>
</body>
</html>
