<form action="">
   <div class="container">
      <h2>register here</h2>
      <label for="acn" class="acclass">account number</label><br>
      <input type="text" class="a1" id="acn" name="aname"><br>
      <label for="ucl" class="usclass">username</label><br>
      <input type="text" class="u1" id="ucl" name="uname"><br>
      <label for="lbl" class="lbclass">password</label><br>
      <input type="text" id="lbl" class="l1" name="lname"><br>
      <button type="button" class="bclass" id="btn">signUp</button>
   </div>
</form>
